.inti{
    margin-top: 40px;
}
.kolom {
    float: left;
    padding: 0px 10px 10px 10px;
  }
.kolom a{
    text-decoration-line: none;
}
.kolom.samping {
    height: auto;
    width: 8%;
}
.kolom.tengah {
    width: 84%;
    margin:5px;
    padding:5px;
}
#main_section{
    padding: 50px;
}