#atas{
    background-color: #d9d9d9;
}
#main_section{
    background-color: #fafafa;
    min-height: 900px;
    color : black;
}

#menu_atas {
    background-color : #375a7f;
    position : fixed;
    top: 0;
    width:100%;
    z-index: 1;
}
.kiri img{
    height: 36px;
    width: 36px;
    margin: 0px;
    padding:0px;
}
.kiri{
    float:left;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    margin : 5px 0px 5px 10px;
}
#padding_kiri{
    margin-right : 5px;
    float:left;
}
#padding_kiri:hover{
    margin-right : 5px;
}
.kiri_title{
    float:left;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    margin : 8.5px 0px 5px 5px;
    color : black;
}
.kiri_title:hover{
    color : black;
}
#padding_kanan{
    float :left;
    margin-left : 0px;
}
.kanan{
    float: right;
    position: center;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    margin : 5px 10px 5px 0px;
}
#input_search{
    width:500px;
}
#search_result{
    font-size: 30px;
    padding-bottom: 25px;
}
#bawah{
    background-color : #375a7f;
    padding: 10px;
    text-align: center;
}
#copyright{
    border : 0px;
}
/*-----------------------------------------------*/

/*for pop up login*/
.pop_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.pop_button {
    background-color: #375a7f;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 2px solid white;
}
.pop_button:hover {
    background-color: white;
}
.pop_up {
    padding: 16px 16px 16px 16px;
    color: white;
}
.pop_up2{
    padding: 0px 16px 16px 16px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 10%;
}
.form_content {
    background-color: #5F5F5F;
    margin: 5% auto 15% auto;
    border: 3px solid #4285f4;
    width: 50%;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


/*-----------------------------------------------*/

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  #menu_user {
    display : none;
  }
  .dropdown-content {
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    cursor: pointer;
  }

  .a_button:hover{
    background-color: #cccccc;
    text-decoration: none;
    color : black;
    text-align: right;
    cursor: pointer;
  }
  
