#main_section{
    background-color: #f2f2f2;
    min-height: 900px;
}
.inti{
    margin-top:40px;
    height: max-content;
}
.kolom {
    float: left;
    padding: 0px 10px 10px 10px;
  }
.kolom a{
    text-decoration-line: none;
}
.kolom.samping {
    height: auto;
    width: 12%;
}
.kolom.tengah {
    width: 76%;
    padding: 70px 20px;
}
/*
#kanan{
    background-color: grey;
    border-right: 10px solid #222222;
}*/
.baris:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .kolom.samping, .kolom.tengah {
      width: 100%;
    }
}
#table_ref{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
    width: 29%;
    border: 3px solid grey;
    color: #e7e5df;
}
#table_ref td{
    padding: 10px;
    margin-left: 5px;
    min-width: inherit;
    border: 1px solid grey;
}
input{
    width: 100%;
}
.link{
    color:white;
    padding:5px;
    text-decoration-line: none;
}
.link:hover{
    color:black;
    text-decoration-line: none;
}

/*------------------------------------------------*/