.background{
    background-color: #222222;
}
#menu_atas {
    background-color : #375a7f;;
    position : fixed;
    top: 0;
    width:100%;
    z-index: 1;
}
.kiri img{
    height: 36px;
    width: 36px;
    margin: 0px;
    padding:0px;
}
.kiri{
    float:left;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    margin : 5px 0px 5px 10px;
}
#padding_kiri{
    margin-right : 5px;
    float:left;
}
#padding_kiri:hover{
    margin-right : 5px;
}
.kiri_title{
    float:left;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    margin : 8.5px 0px 5px 5px;
    color : black;
}
.kiri_title:hover{
    color : black;
}
#padding_kanan{
    float :left;
    margin-left : 0px;
}
.kanan{
    float: right;
    position: center;
    border: none;
    outline: none;
    text-decoration: none;
    background: none;
    margin : 5px 10px 5px 0px;
}
#input_search{
    width:500px;
}
.button_link:hover{
    color:black;
}
.search{
    width: 1000px;
}

.inti{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    text-align: left;
    border-style: double;
    overflow: hidden;
    z-index: 0;
}
.table_ref{
    background-color: white;
}
.tengah{
    align-content: center;
}