<% if (alert == "introduction_third") { %>
    <div id= "alert_Custom" class="alert alert-success" role="alert">
        enjoy your time in reading book :)
    </div>
<% } %>
<br>
<%= tasks %>

